{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid form-content">
        <h3>Your details</h3>
        <hr>
        <div class="form-content">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}